.rosita{
    background-color: rgb(253, 205, 224);
    color:rgb(255, 0, 170);
    border:solid 5px pink;
    border-radius: 5px;
    font-size: 96px;
}
.rosa{
    background-color: rgb(253, 112, 166);
    color:rgb(158, 0, 74);
    font-size: 12px;

}